<header class="site-header" role="banner">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <button id="button-toggle">☁︎</button>
      <a id="link-github" href="https://github.com/oskarradon">✳︎</a>
      <a href="https://twitter.com/oskarradon/">⚑</a>
      <a id="link-instagram" href="https://www.instagram.com/oskarradon/">✌︎</a>
      <a id="link-mail" href="mailto:oradonkimball@pnca.edu">☺︎</a>
    </nav>
  </div>
</header>
