/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  font-size: $base-font-size * 1.5;
  text-align: center;
  position: fixed;
  width: 100%;
  padding-top: 15px;

  .site-title {
    letter-spacing: 2px;
  }

  .site-nav {
    font-size: $base-font-size;
    font-weight: bold;
  }
}



/**
 * Site footer
 */



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  padding-top: 160px;
}

.page-heading {
  @include relative-font-size(1.25);
}

#heading__selected-works {
  font-family: 'Infini';
  text-align: center;
}

.post-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.post-link {
  display: block;
  line-height: 1;
}

.post-link img {
  max-height: 100px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  font-family: "Infini";
  // letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
