/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  font-size: $base-font-size * 1.5;
  text-align: center;
  position: fixed;
  width: 100%;
  padding-top: 15px;

  .site-title {
    // letter-spacing: 2px;
    float: left;
  }

  .about-link {
    float: right;
    color: black;
    text-decoration: underline;
    &:hover {
      color: blue;
      transition: color .3s;
    }
  }
}



/**
 * Site footer
 */

footer {
  position: fixed;
  bottom: 15px;
  width: 100%;
  font-size: $base-font-size * 1.5;
  .inner {
    display: flex;
    justify-content: space-between;
  }
}


 /**
  * Canvas stuff
  */

#canvas {
  width: 100%;
  height: 200px;
  @include media-query($on-laptop) {
    height: 300px;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  padding-top: 80px;
}

.page-heading {
  @include relative-font-size(1.25);
}

#heading__selected-works {
  font-family: 'Infini';
  text-align: center;
}

.post-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.post-link {
  display: block;
  line-height: 1;
  p {
    margin-bottom: 0px;
  }
}

.post-link img {
  max-height: 100px;
}



/**
 * Posts
 */

.post-title {
  font-family: "Infini";
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;

  a {
    color: black;
    text-decoration: underline;
    &:hover {
      color: blue;
      transition: color .3s;
    }
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Infini';
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Footer animations
 */

.tomato {
  color: tomato !important;
  transition: color 1s ease;
}
